<aside class="aside-donate">
    <h3 class="title title-outline">
        Підтримка
    </h3>
    <div id="support" class="aside-donate__inner">
        <h4 class="aside-donate__title">Редакція «РомаУА» працює заради об’єктивного висвітлення історії,
            культури і буденного життя ромів України та світу. Наша робота неможлива
            без Вашої підтримки!</h4>
        <a href="/donate" class="btn btn-green aside-donate__btn">Підтримати</a>
    </div>
</aside>