<div id="backToTop" class="btn btn-blue btn-return">
    <button class="btn-return__icon">
        <svg class="icon icon-back">
            <use href="/icons/sprite.svg#icon-dropdown"></use>
        </svg>
    </button>
</div>