<footer class="footer">
    <div class="footer__inner">
        <div class="footer__info">
            <div class="footer__contacts">
                <h4 class="footer__contacts-title">Контакти</h4>
                <ul class="footer__contacts-list">
                    <li class="footer__contacts-item">
                        <a href="mailto:romaua@gmail.com" class="footer__contacts-link">romaua.agency@gmail.com</a>
                    </li>
                    <li class="footer__contacts-item">
                        <a href="tel:+380501318625" class="footer__contacts-link">+380 50 131 86 25</a>
                    </li>
                    <li class="footer__contacts-item">
                        <a href="tel:+380669111751" class="footer__contacts-link">+380 66 911 17 51</a>
                    </li>
                </ul>
            </div>
            <div class="footer__copyright">
                <a href="/" class="footer__copyright-logotype" aria-label="Logotype">
                    <svg class="icon icon-footer">
                        <use href="/icons/sprite.svg#icon-footer"></use>
                    </svg>
                </a>
                <p class="footer__copyright-title">
                    &copy; <span id="year"></span>, Інформаційно-аналітичне агентство "РомаУА".
                    <br />
                    Всі права застережено.
                </p>
            </div>
        </div>
        <div class="footer__basement">
            <div class="footer__socials">
                <h4 class="footer__socials-title">Соціальні мережі</h4>
                <ul class="footer__socials-list">
                    <li class="footer__socials-item">
                        <a href="https://www.facebook.com/Інформаційно-аналітичне-агенство-RomaUa-110177050611779/" aria-label="Facebook" target="__blank" rel="noreferrer" class="footer__socials-link">
                            <svg class="icon icon-facebook">
                                <use href="/icons/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__socials-item">
                        <a href="https://youtube.com/channel/UCqP1DVx6Y0DfQsCNA1Tn0SA" aria-label="Youtube" target="__blank" rel="noreferrer" class="footer__socials-link">
                            <svg class="icon icon-youtube">
                                <use href="/icons/sprite.svg#icon-youtube"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__socials-item">
                        <a href="https://www.instagram.com/" aria-label="Instagram" target="__blank" rel="noreferrer" class="footer__socials-link">
                            <svg class="icon icon-instagram">
                                <use href="/icons/sprite.svg#icon-instagram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer__socials-item">
                        <a href="https://twitter.com/RomaUA14" aria-label="Twitter" target="__blank" rel="noreferrer" class="footer__socials-link">
                            <svg class="icon icon-twitter">
                                <use href="/icons/sprite.svg#icon-twitter"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
            <p class="footer__description">
                Передрук та інше використання матеріалів, які розміщені на сайті, дозволяється лише з посиланням на
                інтернет-ресурс «РомаУА». Інтернет-видання можуть використовувати матеріали сайту за умови
                відкритого гіперпосилання на інтернет-ресурс «РомаУА». Думки та погляди авторів, блогерів можуть не
                співпадати з позицією редакції
                сайту «РомаУА».
            </p>
        </div>
    </div>
</footer>
</body>

</html>