<div id="loader" class="progress-loader">
    <button id="loader-close" aria-label="Close" type="button" class="progress__close"></button>
    <picture class="progress__desktop">
        <img src="/icons/loader-desktop.svg" alt="Loader desktop icon">
    </picture>
    <picture class="progress__mobile">
        <img src="/icons/loader-mobile.svg" alt="Loader mobile icon">
    </picture>
    <div class="progress__inner"></div>
</div>