<div id="preloader" class="preloader">
    <picture class="preloader__desktop">
        <img src="/icons/preloader-desktop.svg" alt="Preloader desktop icon">
    </picture>
    <picture class="preloader__mobile">
        <img src="/icons/preloader-mobile.svg" alt="Preloader mobile icon">
    </picture>
    <div class="preloader__inner">
        <div class="loader">
            <span class="loader-dot"></span>
            <span class="loader-dot"></span>
            <span class="loader-dot"></span>
            <span class="loader-dot"></span>
            <span class="loader-dot"></span>
            <span class="loader-dot"></span>
        </div>
    </div>
</div>