@import '../../style.scss';

.organizations {
    &__inner {
        max-width: 1440px;
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0 15px 50px;
        margin: 0 auto;

        @include screen-tb() {
            padding: 25px 45px 50px;
        }

        @include screen-l() {
            padding: 50px 45px;
        }

        @include screen-xl {
            padding: 50px 140px 100px;
        }
    }

    &__header {
        margin-bottom: 25px;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.04;
        text-align: center;

        @include screen-tb() {
            font-size: 28px;
            line-height: 1.07;
        }

        @include screen-xl() {
            margin-bottom: 50px;
            font-size: 32px;
            line-height: 0.93;
        }
    }

    &-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 0 0 -20px;

        @include screen-sm() {
            margin: 0 -10px -20px;
        }

        @include screen-tb() {
            margin: 0 -15px -25px;
        }

        @include screen-xl() {
            margin: 0 -25px -50px;
        }
    }

    &-item {
        position: relative;
        min-height: 295px;
        width: 290px;
        display: flex;
        flex-direction: column;
        margin: 0 0 20px;
        background: #fff;
        border: 1px solid #000;
        border-radius: 4px;
        overflow: hidden;
        cursor: pointer;

        @include screen-sm() {
            margin: 0 10px 20px;
        }

        @include screen-tb() {
            width: 320px;
            margin: 0 15px 25px;
        }

        @include screen-xl() {
            margin: 0 25px 50px;
        }
    }

    &__image {
        width: 100%;
        height: 170px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        height: calc(100% - 130px);
        padding: 22px 28px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__title {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.78;
        text-align: center;
        text-overflow: ellipsis;
        overflow: hidden;

        @include screen-tb() {
            font-size: 16px;
            line-height: 1.56;
        }
    }

    &__link {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    &__btn {
        width: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 25px auto 0;

        @include screen-xl() {
            width: 320px;
            margin: 50px auto 0;
        }
    }
}