.title {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    @include screen-xl() {
        margin-bottom: 50px;
    }

    &-outline {
        height: 40px;
        padding: 10px 15px;
        background: $color1;
        border-radius: 4px;
        font-size: 14px;
        font-weight: 700;
        color: #fff;
        text-transform: uppercase;
    }

    &-plain {
        justify-content: center;
        align-items: baseline;
        font-size: 24px;
        font-weight: 700;
        line-height: 1.27;

        @include screen-tb() {
            justify-content: left;
            font-size: 28px;
        }

        @include screen-xl() {
            font-size: 32px;
        }
    }
}
