<%-  include('../partials/header')-%>
<%-  include('../partials/preloader.ejs')-%>
<section class="donate">
  <div class="donate__inner">
    <div class="donate__header">
      <h1 class="donate__title">Що таке Інформаційно-аналітичне агентство "РомаУА"</h1>
      <p class="donate__text">Ми – команда однодумців, яка ініціює створення інформаційного сайту
        для об’єктивного та різностороннього висвітлення життя ромських громад
        України, сприяння толерантному ставленню до представників національних
        меншин, зниження рівня недовіри до них, зменшення «мови ворожнечі» у
        ЗМІ.
      </p>
    </div>
    <div class="donate__points">
      <ul class="points-list">
        <li class="point">
          <div class="point-main">
            <span class="point-title">Мета діяльності</span>
            <button type="button" class="point-btn">
              <span class="point-icon"></span>
            </button>
          </div>
          <div class="point-expanded">
            <p class="point-text">Ми – одні з небагатьох мас-медіа, які професійно висвітлюють і подають
              новини та ініціативи про ромів України.</p>
          </div>
        </li>
        <li class="point">
          <div class="point-main">
            <span class="point-title">Праця для суспільства</span>
            <button type="button" class="point-btn">
              <span class="point-icon"></span>
            </button>
          </div>
          <div class="point-expanded">
            <p class="point-text">Наша команда – це єдиний цілий організм, який прагне змін на краще у
              суспільстві.</p>
          </div>
        </li>
        <li class="point">
          <div class="point-main">
            <span class="point-title">Ініціатива</span>
            <button type="button" class="point-btn">
              <span class="point-icon"></span>
            </button>
          </div>
          <div class="point-expanded">
            <p class="point-text">Ми єдині на просторі України, хто професійно висвітлює новини
              та всі ініціативи про ромів України.</p>
          </div>
        </li>
        <li class="point">
          <div class="point-main">
            <span class="point-title">Професійні стандарти</span>
            <button type="button" class="point-btn">
              <span class="point-icon"></span>
            </button>
          </div>
          <div class="point-expanded">
            <p class="point-text">Наша команда це єдиний цілий організм, який прагне змін на краще
              у суспільстві.</p>
          </div>
        </li>
        <li class="point">
          <div class="point-main">
            <span class="point-title">Соціальні мережі</span>
            <button type="button" class="point-btn">
              <span class="point-icon"></span>
            </button>
          </div>
          <div class="point-expanded">
            <p class="point-text">Інформаційно-аналітичне агентство "РомаУА" має <a class="point-link"
                href="https://romaua.org.ua" target="_blank" rel="noreferrer">вебсайт</a> та групу у
              соціальній мережі <a class="point-link"
                href="https://www.facebook.com/Інформаційно-аналітичне-агенство-RomaUa-110177050611779/" target="_blank"
                rel="noreferrer">Facebook</a></p>
          </div>
        </li>
      </ul>
    </div>
    <div class="donate__payment">
      <h2 class="donate__subtitle">Підтримай "РомаУА"!</h2>
      <p class="donate__text">Підтримайте нашу ініціативу! Зруйнуймо разом упереджене ставлення до
        ромської громади України!</p>
      <div class="donate__sponsors">
        <picture class="donate__icon">
          <svg class="icon icon-visa">
            <use href="/icons/sprite.svg#icon-visa"></use>
          </svg>
        </picture>
        <picture class="donate__icon">
          <svg class="icon icon-mastercard">
            <use href="/icons/sprite.svg#icon-mastercard"></use>
          </svg>
        </picture>
      </div>
      <ul class="donate-list">
        <li class="donate-item">
          <h3 class="donate-text">Одноразова підтримка</h3>
          <button type="button" data-value="small" class="btn btn-red donate-btn">
            <span class="donate-title">100 грн</span>
          </button>
        </li>
        <li class="donate-item">
          <h3 class="donate-text">Місячна підтримка</h3>
          <button type="button" data-value="medium" class="btn btn-red donate-btn">
            <span class="donate-title">500 грн</span>
          </button>
        </li>
        <li class="donate-item">
          <h3 class="donate-text">Річна підтримка</h3>
          <button type="button" data-value="large" class="btn btn-red donate-btn">
            <span class="donate-title">1000 грн</span>
          </button>
        </li>
      </ul>
    </div>
    <div class="donate__legal">
      <a href="/offer-agreement" class="legal-link">Договір оферти</a>
      <a href="/privacy-policy" class="legal-link">Політика конфіденційності</a>
    </div>
  </div>
</section>
<%-  include('../partials/loader.ejs')-%>
<%-  include('../partials/footer')-%>