<%-  include('../partials/header')-%>
<%-  include('../partials/preloader.ejs')-%>
<section class="offer-agreement">
  <div class="offer-agreement__inner">
    <h1 class="offer-agreement__header">Договір приєднання (оферта)
      про надання беззворотьної фінансової допомоги (добровільного пожертвування)
    </h1>
    <div class="offer-agreement__content">
      <ul class="offer-agreement__list">
        <li class="offer-agreement__item">Даний договір є договором, який укладається відповідно до статті 634 Цивільного
          кодексу України від імені Інформаційно-аналітичного агентства «RomaUA» ( ІАА RomaUA) та юридичною або фізичною
          особою, яка має намір здійснити беззворотню фінансову допомогу (добровільне пожертвування) на користь ІАА
          RomaUA. </li>
        <li class="offer-agreement__item">Юридична або фізична особа, яка здійснює беззворотню фінансову допомогу
          (добровільне пожертвування) далі за текстом називається Підтримувач.</li>
        <li class="offer-agreement__item">Предметом цього договору є безоплатна і добровільна передача Підтримувачем у
          власність ІАА RomaUA грошових коштів, шляхом здійснення беззворотньої фінансової допомоги (добровільного
          пожертвування) на розвиток діяльності ІАА RomaUA;</li>
        <li class="offer-agreement__item">Даний договір не є договором надання послуг, виконання робіт, продажу товарів
          тощо, не має на меті отримання прибутку як ІАА RomaUA, так і іншими особами, не передбачає передачу
          Підтримувачу прав контролю над ІАА RomaUA або іншого впливу на діяльність ІАА RomaUA.</li>
        <li class="offer-agreement__item">Здійснення грошового переказу з боку Підтримувача на користь ІАА RomaUA означає
          повне і безумовне прийняття Підтримувачем умов даного Договору, а саме: що Підтримувач згоден з усіма його
          положеннями, він ознайомлений з діяльністю ІАА RomaUA, ознайомлений із цілями, завданнями та напрямками
          діяльності і повною мірою усвідомлює та згоден з предметом даного Договору.</li>
        <li class="offer-agreement__item">Беззворотня фінансова допомога (добровільне пожертвування) є
          цільовим внеском для здійснення розвитку і сталої діяльності ІАА RomaUA. А саме на:
        </li>
        <li class="offer-agreement__item subitem">Адаптація контенту на сайті;</li>
        <li class="offer-agreement__item subitem">Адміністрування сайту;</li>
        <li class="offer-agreement__item subitem">Видання, розробка та розповсюдження власної поліграфічної продукції ІАА RomaUA.</li>
        <li class="offer-agreement__item subitem">Виробництво відео роликів для створення позитивного іміджу ромської громади в України;</li>
        <li class="offer-agreement__item subitem">Додавання нової актуальної інформації на сайт;</li>
        <li class="offer-agreement__item subitem">Інформаційна підтримка сайту;</li>
        <li class="offer-agreement__item subitem">Забезпечення всебічного інформаційного супроводу процесу інтеграції ромів в українське суспільство;</li>
        <li class="offer-agreement__item subitem">Забезпечення для платформи  ІАА RomaUA площадок для дискусій стосовно офіційної позиції органів місцевого самоврядування щодо ромської ситуації в Україні, питань політики, спорту, освіти, прав людини, дискримінації;</li>
        <li class="offer-agreement__item subitem">Популяризації культури національних меншин України;</li>
        <li class="offer-agreement__item subitem">Програмне забезпечення сайту;</li>
        <li class="offer-agreement__item subitem">Реєстрація та продовження домменого імені;</li>
        <li class="offer-agreement__item subitem">Рекламування продукти сайту ( відео, статті, блоги) у мережі YouTube;</li>
        <li class="offer-agreement__item subitem">Сприяння  інформаційних, культурних, освітніх потреб для ромської громади у тому числі шляхом створення та поширення  історично-документальних, культурно-мистецьких, навчально-пізнавальних, спортивних програм про ромів;</li>
        <li class="offer-agreement__item subitem">Створення резервних копій сайту і баз даних з подальшим зберіганням;</li>
        <li class="offer-agreement__item subitem">Створення та підтримка поштових скриньок;</li>
        <li class="offer-agreement__item subitem">Хостинг сайту;</li>
        <li class="offer-agreement__item subitem">Щоденний моніторинг працездатності сайту.</li>
        <li class="offer-agreement__item">Беззворотня фінансова допомога (добровільне пожертвування) здійснюється через
          мережу Інтернет за допомогою визначених ІАА RomaUA платіжних систем і засобів. Інформація про такі платіжні
          системи і засоби розміщена на веб-сайті ІАА RomaUA.</li>
        <li class="offer-agreement__item">Підтримувач самостійно визначає розмір беззворотньої фінансової допомоги
          (добровільного пожертвування) та її періодичність.</li>
        <li class="offer-agreement__item">Здійснення грошового переказу з боку Підтримувача на користь ІАА RomaUA означає
          згоду на обробку персональних даних Підтримувача, відповідно до Закону України «Про захист персональних даних»
          в обсязі, необхідному для здійснення перерахування грошового переказу, ведення бухгалтерського обліку і
          складання фінансової звітності відповідно до вимог законодавства України.</li>
        <li class="offer-agreement__item">Всі витрати по сплаті сум (комісій), пов’язаних з перерахуванням і зарахуванням
          беззворотньої фінансової допомоги (добровільного пожертвування), несе ІАА RomaUA.</li>
        <li class="offer-agreement__item">Питання, не врегульовані даним Договором, регулюються положеннями чинного
          законодавства України.</li>
        <li class="offer-agreement__item">У випадку виникнення конфліктів у зв’язку з виконанням даного Договору сторони
          вирішують такі конфлікти відповідно до чинного законодавства України.
        </li>
      </ul>
    </div>
  </div>
</section>
<%-  include('../partials/back.ejs')-%>
<%-  include('../partials/footer')-%>