<%-  include('../partials/header')-%>
<%-  include('../partials/preloader.ejs')-%>
<section class="privacy-policy">
  <div class="privacy-policy__inner">
    <h1 class="privacy-policy__header">Політика конфіденційності</h1>
    <div class="privacy-policy__content">
      <ul class="privacy-policy__list">
        <li class="privacy-policy__item">Дана Політика конфіденційності персональних даних (далі - Політика
          конфіденційності) діє відносно всієї інформації, яку сайт Інформаційно аналітичне-агентство «RomaUA» ,
          розташований на доменному імені romaua.org.ua, може отримати про Користувача під час використання сайту.</li>
        <li class="privacy-policy__item">Визначення термінів.</li>
        <li class="privacy-policy__item subitem">«Адміністрація сайту (далі - Адміністрація сайту)» - уповноважені
          співробітники на управління сайтом, що діють від імені Інформаційно аналітичне-агентство «RomaUA», які
          організовують і (або) здійснює обробку персональних даних, а також визначає цілі обробки персональних даних,
          склад персональних даних, що підлягають обробці, дії (операції), що здійснюються з персональними даними.</li>
        <li class="privacy-policy__item subitem">«Персональні дані» - будь-яка інформація, що стосується прямо або побічно
          певного або визначається фізичній особі (суб'єкту персональних даних).</li>
        <li class="privacy-policy__item subitem">«Обробка персональних даних» - будь-яка дія (операція) або сукупність
          дій
          (операцій), що здійснюються з використанням засобів автоматизації або без використання таких засобів з
          персональними даними, включаючи збір, запис, систематизацію, накопичення, зберігання, уточнення (оновлення,
          зміна), витяг, використання, передачу (поширення, надання, доступ), знеособлення, блокування, видалення,
          знищення персональних даних.
        </li>
        <li class="privacy-policy__item subitem">«Конфіденційність персональних даних» - обов'язкове для дотримання
          Оператором або іншим отримав доступ до персональних даних особою вимога не допускати їх поширення без згоди
          суб'єкта персональних даних або наявності іншого законного підстави.</li>
        <li class="privacy-policy__item subitem">«Користувач сайту (далі - Користувач)» - особа, яка має доступ до
          Сайту, за допомогою мережі Інтернет і використовує Сайт.</li>
        <li class="privacy-policy__item subitem">«Cookies» - невеликий фрагмент даних, відправлений веб-сервером і
          зберігається на комп'ютері користувача, який веб-клієнт або веб-браузер кожен раз пересилає веб-серверу в
          HTTP-запиті при спробі відкрити сторінку відповідного сайту.
        </li>
        <li class="privacy-policy__item subitem">«IP-адреса» - унікальний мережеву адресу вузла в комп'ютерній мережі,
          побудованої за протоколом IP.</li>
        <li class="privacy-policy__item">Загальні положення</li>
        <li class="privacy-policy__item subitem">Використання Користувачем Сайту означає згоду з цією Політикою
          конфіденційності та умовами обробки персональних даних Користувача.</li>
        <li class="privacy-policy__item subitem">У разі незгоди з умовами Політики конфіденційності Користувач повинен
          припинити використання Сайту.</li>
      </ul>
    </div>
  </div>
</section>
<%-  include('../partials/back.ejs')-%>
<%-  include('../partials/footer')-%>