$color1: #B80000;
$color2: #1B7118;
$color3: #B7E4C7;
$color4: #88C293;
$color5: #808080;
$color6: #0C7EE1;
$color7: #155A13;
$color8: #850000;
$color9: #0955b1;
$color10:#5D6D7E;

$fontfamily: 'Montserrat', sans-serif;